:root {
  --nav-color: #1e202b;
}

body {
  background-color: var(--nav-color);
}

/* navbar */
.navbar .container {
  padding: 40px 0;
}
nav {
  background-color: var(--nav-color);
}
.navbar-nav .nav-link {
  margin: 0 12px;
  color: white;
  padding: 2px 25px !important ;
  transition: all 1ms ;
}
.navbar-nav .nav-link:hover{
  color: #009ad8 !important;
  border: 2px solid #009ad8;
}
.navbar-nav .nav-link.active {
  color: #009ad8 !important;
  border: 2px solid #009ad8;
}
.site-content {
  font-size: x-small;
}

.nav-link {
  color: white !important;
}

/* body */
h2 {
  color: white !important;
}
.card {
  color: #8E8F94;
}
#today-description,
.nextDay-description {
  color: #009ad8 !important;
  margin: 15px 0;
}
#searchLocation::placeholder ,#Subscribe::placeholder {
  color: grey;
}
.find-location {
  padding: 70px 0;
}
#submit {
  position: absolute;
  background-color: #009ad8;
  width: 100px;
  right: 9px;
  top: 8px;
  border: 0;
}

.body-content {
  background-image: url(../images/banner.png);
  height: 350px;
  background-size: cover;
}
#searchLocation,#Subscribe {
  background-color: var(--nav-color);
  border: 0;
}
.temp-datails {
  background-color: #323544;
}

#today-degree,
.deg {
  font-size: 80px !important;
  font-weight: 700;
  color: white;
}
.card-body {
  padding: 30px 20px;
}

.min-degree,
.max-degree {
  padding: 13px 0;
}
.day-and-date {
  background-color: var(--nav-color);
}

 .day-and-date{
    border-top-left-radius:4px ;
    border-top-right-radius:4px ;
    background-color: #2D303D;
    
  } 


  /* footer */
  footer{
    background-color: #262936;
    color: #8E8F94;
  }

.social span i{
  color: #009ad8;
    text-align: center;
    width: 40px;
    height: 40px;
   padding: 10px;
   background-color: #1E202B;
    margin: 0 5px;
    border: solid #1E202B ;
    border-radius: 50%;
    transition: all .5s;
  }

  .social span:hover i{
    color: white;
    border-color: #009ad8;
    background-color: #009ad8;
  }
